// Colors Primary
$color-gradient:  hsl(6, 100%, 80%), hsl(335, 100%, 65%);

// Colors Neutral
$color-pale-blue: hsl(243, 100%, 93%);
$color-grayish-blue: hsl(229, 7%, 55%);
$color-dark-blue: hsl(228, 56%, 26%);
$color-very-dark-blue: hsl(229, 57%, 11%);
$color-very-dark-blue-trans: hsl(229, 57%, 11%, 40%);

// Typography
$default-font-size: 14px;
$ff-raleway: "Raleway Variable";
