@use './styles/variables' as v;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fylo-wrapper {
  display: flex;
  gap: 30px;
}

.fylo {
  background-color: v.$color-dark-blue;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 100px;
  width: 275px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .icon-wrapper {
    display: flex;
    gap: 15px;

    span {
      background-color: v.$color-very-dark-blue;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: flex;

      svg {
        margin: auto;
      }
    }
  }
}

.storage {
  background-color: v.$color-dark-blue;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 300;
  align-self: flex-end;
  gap: 5px;

  p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    span {
      font-weight: 700;
    }
  }

  .gradient-bar-wrapper {
    background-color: v.$color-very-dark-blue-trans;
    width: 450px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 3px;

    .gradient-bar {
      position: relative;
      height: 14px;
      border-radius: 25px;
      background-image: linear-gradient(to right, v.$color-gradient);

      &:after {
        content: '';
        height: 10px;
        width: 10px;
        background-color: #fff;
        position: absolute;
        border-radius: 25px;
        top: 2px;
        right: 2px;
      }
    }
  }  

  & > div:not(.pop):not(.gradient-bar-wrapper) {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
  }

  .pop {
    position: absolute;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    right: 35px;
    top: -45px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: v.$color-grayish-blue;
    display: flex;
    align-items: center;

    &:after {
      content:"";
      display: block;
      position: absolute;
      border-top: 12px solid #fff;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
      border-left: 12px solid transparent;    
      bottom: -24px;
      right: 0;
    }

    & span {
      color: #000;
      font-size: 36px;
      font-weight: 800;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .fylo-wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .fylo {
    width: 250px;
  }

  .storage {
    width: 250px;
    padding-bottom: 50px;

    .gradient-bar-wrapper {
      width: 100%;
    }

    .pop {
      padding: 10px 25px;
      border-radius: 10px;
      border-bottom-right-radius: 10px;
      right: 50%;
      transform: translateX(50%);
      top: auto;
      bottom: -40px;
      text-wrap: nowrap;
      &:after {
        border: none;    
      }
    }
  }
}